<div class='nav'>
    <ul class="menuUl"> 
      <li class="menuLi"><a class="active" href="/">home</a></li>
      <li class="menuLi"><a href="/signin">signin</a></li>
      <li class="menuLi"><a href="/signup">signup</a></li>
      <li class="menuLi"><a href="/upload">upload</a></li>
      <li class="menuLi"><a href="/profile">profile</a></li>
    </ul>
</div>