
<div >
    <img src=<%- `/-/images/${photos.id}` %> alt="Norway" height="500" width="300">
</div> 
<div >
<div >
    <p> <%- photos.caption %></p>
    <p> <%- photos.id %></p>
</div >
    <button class="button is-link" id="btnLike" id="btnComment"  onclick="comment()">Like</button>
</div> 
<div >
    <textarea rows="4" cols="50"></textarea>
</div> 
</div >
    <button class="button is-link" id="btnComment" onclick="comment()">Comment</button>
</div>

<script>
    let photoId =  '<%- photos.id %>}'
    // $(function() { 
    //     $("#btnComment").click(function() { 
    //         console.log(111)
    //     })
    // })

    function comment(){ 
        $.ajax({
            type: "POST",
            url: photoId + "/comment",
            data: '',
            success: function (data) {
                // console.log(data)
                // window.location = '/signin'
            }
        })
    }

    
    function like(){ 
        $.ajax({
            type: "POST",
            url: photoId + "/comment",
            data: '',
            success: function (data) {
                // console.log(data)
                // window.location = '/signin'
            }
        })
    }
</script>