
<div >
    <img src=<%- `/-/images/${photos.id}` %> alt="Norway" height="500" width="300">
</div> 
<div >
<div >
<p> <%- photos.caption %></p>
</div >
<button class="button is-link">Like</button>
</div> 
<div >
<textarea rows="4" cols="50"></textarea>
</div> 
</div >
<button class="button is-link">Comment</button>
</div> 