<% if (flash && flash.error) { %>
    <p style="color: red;"><%= flash.error %></p>
<% } %>
<% if (flash && flash.success) { %>
    <p style="color: green;"><%= flash.success %></p>
<% } %>
<form method="POST">
    <div class="control">
        <input class="input" type="email" name="email" placeholder="email">
        <input class="input" type="password" name="password" placeholder="password">
    </div>
    <button>Sign in</button>
</form>