<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-4 is-offset-4">
                    <form class="box" action="" method="POST">
                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control has-icons-left">
                                <input class="input is-primary" name="email" type="email" placeholder="Email">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                        </div>

                        <div class="field">
                            <label class="label">Password</label>
                            <p class="control has-icons-left">
                                <input class="input is-primary" name="password" type="password" placeholder="Password">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button is-success"> SignUp </button>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <fb:login-button size="large" scope="public_profile,email" onlogin=" myLoginSuccess()">SignUp with Facebook
                                </fb:login-button>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>






<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '2103148063295402',
            cookie: true,
            xfbml: true,
            version: 'v3.0'
        });

        // FB.getLoginStatus(function (response) {
        //     console.log(response)
        // });
        FB.AppEvents.logPageView();
        // myLoginSuccess()
        FB.Event.subscribe('auth.login', myLoginSuccess)

    }

    function myLoginSuccess() {
        FB.getLoginStatus(function (response) {
            if (response.status == 'connected') {

                FB.api('/me?fields=name,id,email,first_name,last_name', res => {
                    $.ajax({
                        type: "POST",
                        url: '/signup',
                        data: res,
                        success: function (data) {
                            // console.log(data)
                            window.location = '/signin'
                        }
                    })
                })
            } else
                console.log('Have not logged in yet')
        })
    }


    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>