<form method="POST"> 
    <label for="">Email</label>
    <input type="email" name="email">
    <br>
    <label for="">Password</label>
    <input type="password" name="password">
    <button>Sign In</button>
</form>